In [1]:
import numpy as np
import gensim
import pandas as pd

# Data preparation and Preprocessing

In [2]:
train_orders = pd.read_csv("./order_products__train.csv")
products = pd.read_csv("./products.csv")

In [3]:
train_orders.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
5         1       13176                  6          0
6         1       47209                  7          0
7         1       22035                  8          1
8        36       39612                  1          0
9        36       19660                  2          1

In [4]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [5]:
train = pd.merge(train_orders, products, how='left', on="product_id")

In [6]:
train.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,1,49302,1,1,Bulgarian Yogurt,120,16
1,1,11109,2,1,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16
2,1,10246,3,0,Organic Celery Hearts,83,4
3,1,49683,4,0,Cucumber Kirby,83,4
4,1,43633,5,1,Lightly Smoked Sardines in Olive Oil,95,15

In [7]:
train_produts = train.groupby("order_id").apply(lambda order : order["product_name"].tolist())

In [8]:
train_produts.head(12)

order_id
1      [Bulgarian Yogurt, Organic 4% Milk Fat Whole M...
36     [Grated Pecorino Romano Cheese, Spring Water, ...
38     [Shelled Pistachios, Organic Biologique Limes,...
96     [Roasted Turkey, Organic Cucumber, Organic Gra...
98     [Natural Spring Water, Organic Orange Juice Wi...
112    [Fresh Cauliflower, I Heart Baby Kale, Sea Sal...
170    [Asian Chopped Salad with Dressing, XL Emerald...
218    [Natural Artisan Water, Okra, Organic Yellow P...
226    [Clementines, Bag, Banana, Kids! Chewables Pro...
349    [Pure Irish Butter, Pure Almond Unsweetened Or...
393    [Shredded Mexican Blend Cheese, Clementines, F...
456    [Chorizo Pork, Petite Peas, Max Gel Clog Remov...
dtype: object

In [9]:
orders = train_produts.values
orders[3]

['Roasted Turkey',
 'Organic Cucumber',
 'Organic Grape Tomatoes',
 'Organic Pomegranate Kernels',
 'Organic Raspberries',
 'Organic Whole Strawberries',
 'Organic Blueberries']

In [10]:
longest_order = np.max(train_produts.apply(len))

In [11]:
print (longest_order)

80

In [12]:
len(orders)

131209

# Models

In [13]:
model_word2vec = gensim.models.Word2Vec(orders, window=longest_order, sg=1, workers=4, min_count=2)

In [15]:
model_ft = gensim.models.FastText(orders, window=longest_order, sg=1, workers=4, min_count=2)

# Final Predictions

In [18]:
model_word2vec.wv.most_similar(positive=["Roasted Turkey", "Organic Cucumber"], topn=5)

[('Organic Baby Sweet Potatoes, Microwaveable', 0.8595538139343262),
 ('Organic Mini Cucumber', 0.8539641499519348),
 ('Chocolate Coconut Crisps', 0.8493455648422241),
 ('Almond Cocoa Spread', 0.8475526571273804),
 ('Balsamic Dressing & Marinade', 0.843494713306427)]

In [19]:
model_ft.wv.most_similar(positive=["Roasted Turkey", "Organic Cucumber"], topn=5)

[('Organic Roasted Turkey Breast', 0.885301947593689),
 ('Organic English Seedless Cucumber', 0.8662012815475464),
 ('Organic Hothouse Cucumbers', 0.8655408620834351),
 ('Organic Roasted Sliced Chicken Breast', 0.8583692908287048),
 ('Organic Smoked Turkey Breast', 0.8556705713272095)]